.navbar{
    display: flex;
    gap: 20px;
    z-index: 100;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: black;
}
.nav-menu{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(260deg, #DA7C25 , #B923E1 );
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    margin: auto;
    display: flex;
}
.anchor-link{
     text-decoration: none;
     color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width:678px){
    .navbar{
        display: none;
    }
    
}